/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.outer {
  width: 500px;
  height: 500px;
  background: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 350px;
  height: 350px;
  background: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 200px;
  height: 200px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  outline: 3px solid blue;
} */
